{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="well col-md-6 col-md-offset-3">
    <form class="login" method="POST" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <h2 class="text-center">Sign up</h2>
      <div class="form-group">
        <input type="text" class="form-control"
               id="id_username" name="username"
               placeholder="{{ form.username.label }}"
               {% if form.username.value != None %}value="{{ form.username.value }}"{% endif %}
               required="required">
        <div class="form-group has-errors text-danger small">
          {{ form.username.errors }}
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control"
               id="id_email" name="email"
               placeholder="{{ form.email.label }}"
               {% if form.email.value != None %}value="{{ form.email.value }}"{% endif %}
               required="required">
        <div class="form-group has-errors text-danger small">
          {{ form.email.errors }}
        </div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control"
               id="id_password1" name="password1"
               placeholder="{{ form.password1.label }}" required="required">
      <div class="form-group has-errors text-danger small">
        {{ form.password1.errors }}
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control"
               id="id_password2" name="password2"
               placeholder="{{ form.password2.label }}" required="required">
      <div class="form-group has-errors text-danger small">
        {{ form.password2.errors }}
        </div>
      </div>

      <div class="form-group has-errors text-danger small">
        {{ form.non_field_errors }}
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Sign up</button>
      </div>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
    </form>
  </div>
</div>
<p class="text-center"><a href="{{ login_url }}">Log in here</a></p>

{% endblock %}